---
title: Index Page 222
img: 2.jpg
extends layouts/_layout

block content
	#barba-wrapper
		.barba-container(data-namespace="Single")
			.single(style="background-image: url('img/2.jpg')")
				h2.single__title Single
			.content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quia ab necessitatibus tenetur ex non optio aperiam numquam, mollitia temporibus enim unde dolores ratione natus? Rerum exercitationem provident sint officiis!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quam ad ullam veritatis, nam enim rem eaque magni molestias exercitationem odit dolore, aliquid quaerat! Fuga, adipisci sed? Tempora, architecto ipsa.
