---
title: Index Page 333
img: 3.jpg
extends layouts/_layout

block content
	#barba-wrapper
		.barba-container(data-namespace="Single")
			.single(style="background-image: url('img/3.jpg')")
				h2.single__title Single
