---
title: Index Page
-var posts = [
	{
		img: "1.jpg",
		title: "Blabla 1"
	},
	{
		img: "2.jpg",
		title: "Blabla 2"
	},
		img: "3.jpg",
		title: "Blabla 3"
	},
		img: "4.jpg",
		title: "Blabla 4"
	},
		img: "5.jpg",
		title: "Blabla 5"
	},
		img: "6.jpg",
		title: "Blabla 6"
	}
---
extends layouts/_layout
block content
  h1 Empty
