---
title: Index Page
---
-
	var posts = [
		{img: "1.jpeg",title: "Blabla 1"},
		{img: "2.jpeg",title: "Blabla 2"},
		{img: "3.jpeg",title: "Blabla 3"},
		{img: "4.jpeg",title: "Blabla 4"},
		{img: "5.jpeg",title: "Blabla 5"},
		{img: "6.jpeg",title: "Blabla 6"}
];
---
extends layouts/_layout
block content
	.items
		.item(style="background-image: url('img/1.jpeg')")
			h2.item__title Title
		.item(style="background-image: url('img/2.jpeg')")
			h2.item__title Title
		.item(style="background-image: url('img/3.jpeg')")
			h2.item__title Title
		.item(style="background-image: url('img/4.jpeg')")
			h2.item__title Title
		.item(style="background-image: url('img/5.jpeg')")
			h2.item__title Title
		.item(style="background-image: url('img/6.jpeg')")
			h2.item__title Title
